html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

 change colours to suit your needs 
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

 change colours to suit your needs 
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

 change border colour to suit your needs 
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*ここから自分の記述*/
body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #e6e6e6;
}
body {
    min-width: 1200px;
    background-color: white;
}
img {
    max-width: 100%;
}
/*ヘッダーの設定*/
.header {
    width: 100%;
    position: relative;
    display: flex;
}
/*.header_position {*/
/*    position: relative;*/
/*}*/
.top_background-image {
    width: 100%;
    height: 450px;
    vertical-align: bottom
}
.top_logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
}
.flex {
    display: flex;
}
.top_nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
}
.top_nav a {
    text-decoration: none;
    color: white;
    margin: 0px 15px 15px 0px;
}
.top_nav li {
    float: left;
}
/*.top_alignment {*/
/*    align-items: center;*/
/*}*/
.top_title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
/*検索フォーム*/
.serch {
    position: absolute;
    top: 320px;
    left: 500px;
    background-color: rgba(255,255,255,0.5)/*半透明*/
}
.serch form {
    float: left;
    margin: 10px 0px;
}
.serch input[type="text"] {
    margin: 0;
    
}
.serch input[type="submit"] {
    background-color: red;
}
.serch img {
    position: absolute;
    left: 450px;
    color: black;
    margin: 10px;
}
/*メインの記述*/
.main {
    margin: 40px;
}