html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

 change colours to suit your needs 
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

 change colours to suit your needs 
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

 change border colour to suit your needs 
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*ここから自分の記述*/
body {
    display: block;
    background-color: white;
    min-width: 1200px;
}
.centering_content { /*横幅1200px中央寄せクラス*/
    justify-content: center;
}

/*ヘッダーの設定*/
header {
    width: 100%;
}
.header_content {
    background-image: url(images/top.jpg);
    background-size: cover;
    padding-bottom: 50px;
}
.top_alignment {
    display: flex;
    justify-content: space-between;/*両端に子要素を寄せる*/
    align-items: center;/*垂直方向の整列*/
}
.top_logo {
    margin-top: 20px;
}
.top_nav {
    display: flex;
    margin-right: 30px;
}
.top_nav a {
    text-decoration: none;
    color: white;
    margin: 0px 15px 15px 0px;
}
.top_nav li {
    float: left;
}
.top_copy {
    display: block;/*img要素に直接作ったクラスやからインライン要素。つまり、左に寄るからブロックにしてautoにすると上下左右中央になる。*/
    align-items: center;
    margin: auto;
    padding-bottom: 10px;
}
/*検索フォーム*/
.serch {
    display: flex;
    background-color: rgba(255,255,255,0.5)
}
.serch form {
    margin: 0 auto;
    padding: 10px;
}
.serch input[type="text"] {
    margin: 0;
    font-size: 8px;
    color: gray;
    padding: 5px;
    
}
.serch input[type="submit"] {
    background-color: red;
    color: white;
    padding-left: 30px;/*画像を入れるスペース*/
    float: left;
}
/*メインの記述*/
.container {
    display: flex;
}
h2 {
    font-size: 24px;
}
.recomended_area,.hot_spot,.genre,.condition,.writer_recommendation,.user_review {
    width: 800px;
    margin: 10px 50px 0px 40px;
}
/*おすすめのエリア*/
.recomended_area a {
    display: inline-block;
    width: 60px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: solid 1px #80808052;
    margin: 5px;/*左右5pxずつマージンで計10pxの余白*/
    padding-top: 5px;
}
/*ホットなスポット*/
.town a {
    text-decoration: none;
    color: black;
}
.town a:before {/*擬似要素"要素の直前に対する指定*/
    content: ">";
    color: orange;
}
/*ジャンルで選ぶ*/
.genre_buttun {
    display: flex;
}
.genre_buttun div {
    margin: 10px 10px 0px 0px;
}
.genre_buttun a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    border: solid 1px #80808052;
    
}
/*こだわりで選ぶ*/
.condition_buttun {
    display: flex;
    flex-wrap: wrap;
}
.condition_buttun a {
    text-decoration: none;
    color: black;
    display: block;
    background-color: white;
    padding: 10px;
    border: solid 1px #80808052;
    margin: 10px 10px 0px 0px;
}
/*右側のコンテンツ*/
.right_bar {
    width: 270px;
    margin-right: 40px;
}
.user_infomation-block {
    background-color: #FFFCF3;
    border: 1px solid gray;
    margin-top: 20px
}
.user_infomation {
    background-color: white;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
.user_profile {
    width: 130px;
    float: left;
}
.user_profile p:first-child {
    font-size: 18px;
    font-weight: bold;
}
.user_point {
    display: flex;
    width: 228px;
    padding: 10px;
    border-top: solid 1px gray;
    justify-content: space-between;
    align-items: center;
}
.user_rank {
    display: flex;
    width: 228px;
    padding: 10px;
    border-top: solid 1px gray;
    justify-content: space-between;
    align-items: center;
}
.banner img {
    margin-top: 20px;
}