html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

 change colours to suit your needs 
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

 change colours to suit your needs 
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

 change border colour to suit your needs 
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*ここから自分の記述*/
body {
    display: block;
    background-color: white;
    min-width: 1200px;
}
.centering_content { /*中央寄せクラス*/
    justify-content: center;
}

/*ヘッダーの設定*/
header {
    width: 100%;
}
.header_background {/*ヘッダーのコンテンツを1200pxに収めるために新たに追加した。背景画像がウィンドウサイズいっぱいに表示される。*/
    background-image: url(images/top.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}
.header_content {
    padding: 0px 0px 40px;
    display: flex;
    justify-content: center;
}
.fixing_header {
    width: 1200px;
}
.top_alignment {
    display: flex;
    margin: 20px 40px 0px;
    justify-content: space-between;/*両端に子要素を寄せる*/
    align-items: center;/*垂直方向の整列*/
}
.top_logo {
}
.top_nav {
    display: flex
}
.top_nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}
.top_nav li {
    float: left;
}
.top_copy {
    display: block;/*img要素に直接作ったクラスやからインライン要素。つまり、左に寄るからブロックにしてautoにすると上下左右中央になる。*/
    align-items: center;
    margin: auto;
    padding-bottom: 10px;
}
/*検索フォーム*/
.serch {
    width: 800px;
    display: flex;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.8)
}
.serch form {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
}
.serch p {
    font-weight: bold;
}
.serch input[type="text"] {
    margin: 0;
    font-size: 8px;
    color: gray;
    padding: 5px;
}
.serch_buttun {
    display: flex;
    background-color: red;
    align-items: center;
    border: solid 1px gray;
}
.serch_buttun img {
    display: block;
    width: 60%;
    height: 60%;
}
.serch input[type="submit"] {
    background-color: red;
    border: none;
    color: white;
    padding-left: 5px;/*画像とのスペース*/
    float: left;
}
/*メインの記述*/
.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
main {
    margin-right: 0;
    margin-left: 40px;
}
p {
    font-family: YuGothic;
}
h2:not(.writer_recommendation-header) {/*.writer_recommendation-headerのh2は親要素にボーダーを引かないといけないから（途切れる）それに関しては直接プロパティを書いた*/
    font-size: 24px;
    border-bottom: solid 1px red;
    font-family: YuGothic;
}
h3 {
    font-size: 18px;
    font-family: YuGothic;
}
h4 {
    font-size: 16px;
    font-family: YuGothic;
}
.container h5 {/*リセットCSSを適用しているがh5がboldになるからクラス指定して点数を上げてboldが適用されないように書いている*/
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    font-family: Meiryo;
}
.recomended_area,.hot_spot,.genre,.condition,.writer_recommendation,.user_review {
    width: 760px;
    margin: 10px 50px 0px 0px;/*ここでは左に余白を作ってない。アイコンが離れるから*/
}
.display_icon-left {/*見出しの横のアイコンを左に表示するためのクラス。"おすすめのエリア"などの各コンテンツを包含している。*/
    display: flex;
    margin: 20px 0px 30px;
}
.display_icon-left>img {
    display: block;
    height: 100%;
/*アイコンの左に要件で指定された40pxの余白を作ってる。でもこれだけやとdisplay_icon-leftクラスのすべてのimgに余白が生まれるから">"を追加して子要素だけをセレクトする。*/
}
/*おすすめのエリア*/
.city {
    font-size: 0px;/*謎の余白を消すために親のクラスに適用している。*/
}
.recomended_area a {
    display: inline-block;
    font-size: 12px;
    width: 50px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: solid 1px #80808052;
    margin: 10px 10px 0px 0px;
    padding-top: 10px;
}
/*ホットなスポット*/
.town {
    display: flex;
    line-height: 20px;
    width: 100%;
}
.display_content-left {
    width: 60%;
}
.display_content-right {
    width: 40%;
}
.town li {
    list-style-type: none;
}
.town a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    letter-spacing: 1px;
}
.town a:before {/*擬似要素"要素の直前に対する指定*/
    content: ">";
    color: orange;
}
/*ジャンルで選ぶ*/
.genre_buttun {
    display: flex;
}
.genre_buttun div {
    margin: 10px 10px 0px 0px;
}
.genre_buttun a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    border: solid 1px #80808052;
    
}
/*こだわりで選ぶ*/
.condition_buttun {
    display: flex;
    flex-wrap: wrap;
}
.condition_buttun a {
    text-decoration: none;
    color: black;
    display: block;
    background-color: white;
    padding: 10px;
    border: solid 1px #80808052;
    margin: 10px 10px 0px 0px;
}
/*ライターのおすすめ*/
.writer_recommendation-header {
    display: flex;
    border-bottom: solid 1px red;
    align-items: center;
}
.writer_recommendation-header h2 {
    margin-right: 20px;
}
.writer_recommendation-header h4 {
    font-weight: normal;
}
.writer_recommendation-bottom {
    display: flex;
}
.writer_recommendation-bottom img {
    padding-left: 20px;
}
.left_food {
    width: 440px;
    padding: 10px;
    border: solid 1px #80808052;
    margin: 10px 10px 0px 0px;
}
.left_food h3,.right_food h3 {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.right_food {
    width: 440px;
    padding: 10px;
    border: solid 1px #80808052;
    margin: 10px 0px 0px 10px;
}
/*ユーザーレビュー*/
.user_review-bottom {
    display: flex;
}
.left_review {
    width: 440px;
    padding: 10px;
    border: solid 1px #80808052;
    margin-right: 20px;
}
.right_review {
    width: 440px;
    padding: 10px;
    border: solid 1px #80808052;
}
.left_user-infomation,.right_user-infomation {
    display: flex;
    border-bottom: solid 1px #80808052;
}
.reviewer_profile {
    margin-left: 10px;
}
.review_contents h3 {
    padding: 20px 0;
}
.review_images {
    display: flex;
}
.review_images img:first-child {
    margin-top: 30px;
}
.review_images img:last-child {
    margin: 30px 0px 0px 10px;
}
/*右側のコンテンツ*/
.right_bar {
    width: 270px;
    margin-right: 40px;
}
.user_infomation-block {
    background-color: #FFFCF3;
    border: 1px solid gray;
    margin-top: 20px
}
.user_infomation {/*アイコンを含んだユーザーの情報*/
    background-color: white;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
.user_profile {/*ニックネームと性別・住所*/
    width: 130px;
    margin-left: 10px;
    float: left;
}
.user_profile p:first-child {
    font-size: 18px;
    font-weight: bold;
}
.user_point {
    display: flex;
    width: 228px;
    padding: 10px;
    border-top: solid 1px gray;
    justify-content: space-between;
    align-items: center;
}
.user_rank {
    display: flex;
    width: 228px;
    padding: 10px;
    border-top: solid 1px gray;
    justify-content: space-between;
    align-items: center;
}
.banner img {
    margin-top: 20px;
}
.footer_menu {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border-top: solid 2px #80808033;
}
.footer_menu ul {
    display: flex;
    list-style: none;
}
.footer_menu a {
    text-decoration: none;
    margin-right: 40px;
    color: black;
}
.copy_right {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #dcd5d5;
}